body {
    background-color: #fafafa;
    font-family: 'Times New Roman', Times, serif;
    color: #111111;
    margin: 0px;
    padding: 0 20px;
}

header, section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #6b7280;
}
