body {
    background-color: #fafafa;
    font-family: 'Times New Roman', Times, serif;
    color: #111111;
    margin: 0px;
    padding: 0 20px;
}

header, section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

