* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #0c0c0c;
  --second-bg-color: #161616;
  --text-color: white;
  --main-color: #ecbbd0;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}